@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 1272px;
  height: 2260px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background-color: black;
}

.container {
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.wall_1 {
  position: relative;
  text-align: center;
}

.wall_2 {
  width: 1272px;
  height: 1800px;
  border: none;
  border-radius: 0px 0px 100px 100px;
  background-color: #efefef;
  /* text-align: center; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0),
    0 10px 10px -10px black;
}

.title > h3 {
  position: absolute;
  top: 334px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  z-index: 300;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: -5px;
  color: #ffb100;
}

.title > h4 {
  position: absolute;
  top: 570px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  z-index: 300;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -5px;
  color: #ffb100;
}

.logo_B {
  z-index: 200;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
}

.Bowl_S {
  z-index: 300;
  position: absolute;
  top: 1636px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.Model {
  z-index: 200;
  position: absolute;
  top: 1110px;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* Choose button */
.button_EatIn {
  top: 769px;
  left: 310px;
  z-index: 300;
  position: absolute;
  background-color: transparent;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -5px;
  color: black;

  cursor: pointer;
  /* transition: 0.5s; */
  border: 0;

  height: 300px;
  width: 297px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px;

  /* object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s; */
}

.button_EatIn:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.havingHere {
  margin-top: 24px;
}

h6 {
  margin-top: 0;
  /* margin-bottom: 19px; */
  /* bottom: 0; */
}
.button_TakeOut {
  top: 769px;
  right: 310px;
  z-index: 300;
  position: absolute;
  background-color: transparent;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -5px;
  color: black;

  cursor: pointer;
  /* transition: 0.5s; */
  border: 0;

  height: 300px;
  width: 297px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px;

  /* object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s; */
}

.button_TakeOut:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.takeOut {
  margin-top: 24px;
}

/* main_button */

.main_button {
  z-index: 200;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 50%;
  gap: 0px;
  transform: translate(-50%, 0%);

  background-color: transparent;

  cursor: pointer;
  /* transition: 0.5s; */
  border: 0;
}

.main_button_icon {
  z-index: 200;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 60px;
  gap: 14px;

  /* object-fit: cover; */
  /* transform: scale(1); */
  /* transition: transform 0.5s; */
}

.main_button_icon:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
}
