@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  width: 1272px;
  height: 2260px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background-color: black;
}

.container {
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.top_step_icons {
  z-index: 600;
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.wall_1 {
  position: relative;
  text-align: center;
}

.wall_2 {
  width: 1272px;
  height: 1800px;
  border: none;
  border-radius: 0px 0px 100px 100px;
  background-color: #efefef;
  /* text-align: center; */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: 0px 0 rgba(0, 0, 0, 0), 0px 0 rgba(0, 0, 0, 0),
    0 10px 10px -10px black;
}

.title > h3 {
  position: absolute;
  top: 263px;
  left: 101px;
  /* transform: translate(-50%, -50%); */
  white-space: nowrap;
  text-align: center;
  z-index: 300;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -5px;
  color: black;
  margin: 0%;
  width: 772px;
}

.title > h4 {
  position: absolute;
  top: 570px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  z-index: 300;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -5px;
  color: black;
}

.logo_B {
  z-index: 200;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
}

.no4 {
  z-index: 200;
  position: absolute;
  top: 100;
  right: 0;
}

/* grid box */
.grid-container {
  z-index: 600;
  position: absolute;
  top: 562px;
  left: 100px;
  display: inline-grid;
  grid-template-columns: 244px 244px 244px;
  grid-template-rows: 244px 244px 244px;
  column-gap: 20px;
  row-gap: 20px;
  width: 772px;
  height: 1036px;
}

.grid-item {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
}

/* Choose button */
.grid-item-text {
  width: 244px;
  height: 122px;
  position: absolute;
  margin-top: 122px;
  padding: 0;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: -1px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 150px 150px;
}

.grid-item-text:hover {
  background-color: rgba(255, 191, 0, 0.5);
}

#btn_SoySauce {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_SoySauce:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.SoySauce {
  margin: 0px;
}

#btn_ChilliSauce {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_ChilliSauce:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.ChilliSauce {
  margin: 0px;
}

#btn_HotChilliSauce {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_HotChilliSauce:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.HotChilliSauce {
  margin: 0px;
}

#btn_TomatoSauce {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_TomatoSauce:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.TomatoSauce {
  margin: 0px;
}

#btn_OrientalGarlicSauce {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_OrientalGarlicSauce:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.OrientalGarlicSauce {
  margin: 0px;
}

#btn_Mustard {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_Mustard:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.Mustard {
  margin: 0px;
}

#btn_HoneyMustard {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_HoneyMustard:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.HoneyMustard {
  margin: 0px;
}

#btn_SalsaVerde {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_SalsaVerde:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.SalsaVerde {
  margin: 0px;
}

#btn_KatsuSauce {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_KatsuSauce:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.KatsuSauce {
  margin: 0px;
}

#btn_SweetFishSauce {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_SweetFishSauce:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.SweetFishSauce {
  margin: 0px;
}

#btn_SweetChilliSauce {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_SweetChilliSauce:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.SweetChilliSauce {
  margin: 0px;
}

#btn_Aioli {
  background-color: transparent;
  color: black;
  cursor: pointer;
  width: 244px;
  height: 244px;
  padding: 0%;
  margin: 0%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 150px;
  overflow: hidden;
  border: 0px;
}

#btn_Aioli:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  border: 5px solid #ffb100;
  font-weight: 900;
}

.Aioli {
  margin: 0px;
}

/* side bar */

.side_bar {
  top: 0;
  right: 0;
  z-index: 300;
  position: absolute;
  background-color: transparent;
  background-color: white;

  cursor: pointer;
  /* transition: 0.8s; */
  transition: all ease 2s 0s;
  border: 0;

  width: 300px;
  height: 2260px;

  /* overflow: auto; */
  overflow-y: scroll;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px 0 0 0px;
}

.side_bar::-webkit-scrollbar {
  width: 20px;
  background-color: black;
}

.side_bar::-webkit-scrollbar {
  width: 20px;
}
.side_bar::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
}
.side_bar::-webkit-scrollbar-track {
  background-color: white;
}

h4 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  letter-spacing: -1px;
}

.side_bar_icon1 {
  position: absolute;
  top: 97px;
  left: 65px;
}

.side_bar_icon2 {
  position: absolute;
  top: 129px;
  left: 65px;
}

.line_1 {
  position: absolute;
  top: 335px;
  left: 32px;
}

.x_1 {
  position: absolute;
  z-index: 400;
  top: 365px;
  left: 194px;
}

#Box_1_image {
  z-index: 600;
  position: absolute;
  top: 38px;
}

.Box_1 {
  position: absolute;
  top: 371px;
  left: 79px;
}

.line_2 {
  position: absolute;
  top: 765px;
  left: 32px;
}

.x_2 {
  position: absolute;
  z-index: 400;
  top: 567px;
  left: 194px;
}

#Box_2_image {
  z-index: 600;
  position: absolute;
  top: 18px;
  left: 53px;
}

.Box_2 {
  position: absolute;
  top: 573px;
  left: 79px;
}

.x_2 {
  position: absolute;
  z-index: 400;
  top: 567px;
  left: 194px;
}

.Box_2 {
  position: absolute;
  top: 573px;
  left: 79px;
}

.x_3 {
  position: absolute;
  z-index: 800;
  top: 795px;
  left: 194px;
}

#Box_3_image {
  height: 144px;
  width: 144px;
  z-index: 600;
  position: absolute;
  border-radius: 30px;
  overflow: hidden;
  /* border: 2px solid #ffb100; */
  /* border-style: groove; */
  /* border-width: 2px; */
  margin: 0%;
  padding: 0%;
}

.Box_3 {
  z-index: 700;
  position: absolute;
  top: 801px;
  left: 79px;
}

.x_4 {
  position: absolute;
  z-index: 800;
  top: 997px;
  left: 194px;
}

#Box_4_image {
  height: 144px;
  width: 144px;
  z-index: 600;
  position: absolute;
  border-radius: 30px;
  overflow: hidden;
  /* border: 2px solid #ffb100; */
  /* border-style: groove; */
  /* border-width: 2px; */
  margin: 0%;
  padding: 0%;
}

.Box_4 {
  z-index: 700;
  position: absolute;
  top: 1003px;
  left: 79px;
}

.x_5 {
  position: absolute;
  z-index: 800;
  top: 1199px;
  left: 194px;
}

#Box_5_image {
  height: 144px;
  width: 144px;
  z-index: 600;
  position: absolute;
  border-radius: 30px;
  overflow: hidden;
  /* border: 2px solid #ffb100; */
  /* border-style: groove; */
  /* border-width: 2px; */
  margin: 0%;
  padding: 0%;
}

.Box_5 {
  z-index: 700;
  position: absolute;
  top: 1205px;
  left: 79px;
}

.line_3 {
  position: absolute;
  top: 1397px;
  left: 32px;
}

.cx_1 {
  position: absolute;
  z-index: 800;
  top: 1428px;
  left: 64px;
}

#Circle_1_image {
  height: 64px;
  width: 64px;
  z-index: 600;
  position: absolute;
  /* border-radius: 0px; */
  /* overflow: hidden; */
  /* border: 2px solid #ffb100; */
  /* border-style: groove; */
  /* border-width: 2px; */
  margin: 0%;
  padding: 0%;
}

.C_1 {
  z-index: 700;
  position: absolute;
  top: 1433px;
  left: 34px;
}

.cx_2 {
  position: absolute;
  z-index: 800;
  top: 1428px;
  left: 148px;
}

#Circle_2_image {
  height: 64px;
  width: 64px;
  z-index: 600;
  position: absolute;
  /* border-radius: 0px; */
  /* overflow: hidden; */
  /* border: 2px solid #ffb100; */
  /* border-style: groove; */
  /* border-width: 2px; */
  margin: 0%;
  padding: 0%;
}

.C_2 {
  z-index: 700;
  position: absolute;
  top: 1433px;
  left: 118px;
}

.cx_3 {
  position: absolute;
  z-index: 800;
  top: 1428px;
  left: 232px;
}

#Circle_3_image {
  height: 64px;
  width: 64px;
  z-index: 600;
  position: absolute;
  /* border-radius: 0px; */
  /* overflow: hidden; */
  /* border: 2px solid #ffb100; */
  /* border-style: groove; */
  /* border-width: 2px; */
  margin: 0%;
  padding: 0%;
}

.C_3 {
  z-index: 700;
  position: absolute;
  top: 1433px;
  left: 202px;
}

h6 {
  font-size: 10px;
  margin: 0;
  text-align: center;
}

.line_4 {
  position: absolute;
  top: 1518px;
  left: 32px;
}

.x_6 {
  position: absolute;
  z-index: 400;
  top: 1548px;
  left: 194px;
}

.Box_6 {
  position: absolute;
  top: 1554px;
  left: 78px;
}

.x_7 {
  position: absolute;
  z-index: 400;
  top: 1750px;
  left: 194px;
}

.Box_7 {
  position: absolute;
  top: 1756px;
  left: 78px;
}

.x_8 {
  position: absolute;
  z-index: 400;
  top: 1952px;
  left: 194px;
}

.Box_8 {
  position: absolute;
  top: 1958px;
  left: 78px;
}

.line_5 {
  position: absolute;
  top: 2150px;
  left: 32px;
}

.x_9 {
  position: absolute;
  z-index: 400;
  top: 2180px;
  left: 194px;
}

.Box_9 {
  position: absolute;
  top: 2186px;
  left: 78px;
}

.x_10 {
  position: absolute;
  z-index: 400;
  top: 2382px;
  left: 194px;
}

.Box_10 {
  position: absolute;
  top: 2388px;
  left: 78px;
}

.line_6 {
  position: absolute;
  top: 2580px;
  left: 32px;
}

.Price {
  position: absolute;
  top: 2616px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.Price > h1 {
  font-size: 50px;
  color: #ffb100;
  margin: 0 auto;
}

.line_7 {
  position: absolute;
  top: 2693px;
  left: 32px;
}

/* Order Button  */
.Order_Button {
  height: 3500px;
}
.CancelBtn {
  top: 2729px;
  left: 31px;
  z-index: 300;
  position: absolute;
  background-color: transparent;

  letter-spacing: -5px;
  color: black;

  cursor: pointer;
  /* transition: 0.5s; */
  border: 0;
  text-align: center;
  width: 241px;
  height: 58px;

  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  /* object-fit: cover;
          transform: scale(1);
          transition: transform 0.5s; */
}

.CancelBtn > h6 {
  text-align: center;
  margin: 0;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: -1px;
}

.CancelBtn:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  /* border: 5px solid #ffb100; */
  /* font-weight: 900; */
  background-color: #ffb100;
}

.AddBtn {
  top: 2813px;
  left: 31px;
  z-index: 300;
  position: absolute;
  background-color: transparent;

  letter-spacing: -5px;
  color: black;

  cursor: pointer;
  /* transition: 0.5s; */
  border: 0;
  text-align: center;
  width: 241px;
  height: 58px;

  background-color: #bc0000;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  /* object-fit: cover;
          transform: scale(1);
          transition: transform 0.5s; */
}

.AddBtn > h1 {
  text-align: center;
  margin: 0;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: -1px;
  color: white;
}

.AddBtn:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  /* border: 5px solid #ffb100; */
  background-color: #ffb100;
  font-weight: 900;
}

/* Skip & next button */

.SkipBtn {
  top: 1649px;
  left: 101px;
  z-index: 300;
  position: absolute;
  background-color: transparent;

  letter-spacing: -5px;
  color: black;

  cursor: pointer;
  /* transition: 0.5s; */
  border: 0;
  text-align: center;
  width: 374px;
  height: 100px;

  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  /* object-fit: cover;
      transform: scale(1);
      transition: transform 0.5s; */
}

.SkipBtn > h6 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
}

.SkipBtn:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  /* border: 5px solid #ffb100; */
  /* font-weight: 900; */
  background-color: #ffb100;
}

.NextBtn {
  top: 1649px;
  left: 498px;
  z-index: 300;
  position: absolute;
  background-color: transparent;

  letter-spacing: -5px;
  color: black;

  cursor: pointer;
  /* transition: 0.5s; */
  border: 0;
  text-align: center;
  width: 374px;
  height: 100px;

  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  /* object-fit: cover;
      transform: scale(1);
      transition: transform 0.5s; */
}

.NextBtn > h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
  font-weight: 900;
}

.NextBtn:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  /* border: 5px solid #ffb100; */
  background-color: #ffb100;
  font-weight: 900;
}

/* main_button */

.main_button {
  z-index: 200;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 248px;
  /* gap: 0px;
  transform: translate(-50%, 0%); */

  background-color: transparent;

  cursor: pointer;
  /* transition: 0.5s; */
  border: 0;
}

.main_button_icon {
  z-index: 200;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 60px;
  gap: 14px;

  /* object-fit: cover; */
  /* transform: scale(1); */
  /* transition: transform 0.5s; */
}

.main_button_icon:hover {
  transform: scale(1.3);
  transition: transform 0.5s;
}
